force-app/main/default/flows/fffds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>UniqueNamefd</name>
        <label>Prepare record</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>commute.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commute.CommuteType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>commitType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commute.CommuteDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueNamefds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_record</name>
        <label>User record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>user.Home__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HomeLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Home__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HomeLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfficeLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfficeLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_user</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>faafa</name>
        <label>Already registered?</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>fdsa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already registered</defaultConnectorLabel>
        <rules>
            <name>UniqueNamedd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueNamefdsss</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniqueName</targetReference>
            </connector>
            <label>Not Yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registered_Home_Office_location</name>
        <label>Registered Home &amp; Office location?</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>UniqueNamefdsss</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Done</defaultConnectorLabel>
        <rules>
            <name>Not_Yet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>user.Home__Latitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>user.Home__Longitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>user.Location__Latitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>user.Location__Longitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Register_Location</targetReference>
            </connector>
            <label>Not Yet</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>commuteTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>CommuteType__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Commute {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Commute Register</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>UniqueNamefds</name>
        <label>Create record</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <inputReference>commute</inputReference>
    </recordCreates>
    <recordLookups>
        <name>UniqueNamefdsss</name>
        <label>Today&apos;s Commute</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>faafa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CommuteDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>user</name>
        <label>Get User Record</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registered_Home_Office_location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_user</name>
        <label>Update user</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputReference>user</inputReference>
    </recordUpdates>
    <screens>
        <name>fdsa</name>
        <label>Done</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sss</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Today&apos;s commute has been submitted!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Register_Location</name>
        <label>Register Location</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_record</targetReference>
        </connector>
        <fields>
            <name>home</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Home Location&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HomeLatitude</name>
            <dataType>Number</dataType>
            <fieldText>Latitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>10</scale>
        </fields>
        <fields>
            <name>HomeLongitude</name>
            <dataType>Number</dataType>
            <fieldText>Longitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>10</scale>
        </fields>
        <fields>
            <name>officeloc</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Office Location&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OfficeLatitude</name>
            <dataType>Number</dataType>
            <fieldText>Latitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>10</scale>
        </fields>
        <fields>
            <name>OfficeLongitude</name>
            <dataType>Number</dataType>
            <fieldText>Longitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>10</scale>
        </fields>
        <fields>
            <name>spaces</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UniqueName</name>
        <label>Register Today&apos;s Commute</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UniqueNamefd</targetReference>
        </connector>
        <fields>
            <name>ff</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please select the commute type today.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>commitType</name>
            <choiceReferences>commuteTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Commute Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>commute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commute__c</objectType>
    </variables>
</Flow>
